.header{

    bottom:1.6rem;
    margin-top: 1.5rem;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 330;
    color: black;
}

.weather {
    display: inline-block;
    font-size: 13px;
    width: 4.5rem;
    text-align: center;
}
