
@import '~style/helpers';
.header{
    bottom:2em;
    margin-top: 1.5rem;
    width: 100%;
    letter-spacing: 1px;
   
}

.weather {
    display: inline-block;
    font-size: 1rem;;
    width: 5rem;
    text-align: center;
    font-family: 'Helvetica Neue', arial, sans-serif;
    margin-top: 5%;
    font-weight: 300;
    border-style: solid;
    border-color: whitesmoke;
    border-top: none;
    border-bottom: none;
    border-width: 2px;
    
    
   

}

.name{
    font-weight: bold;
   
}

