@import '~style/helpers';
@import '../iphone/style';



.header{
	width: 100%;
	padding: 1rem 0;
	position: center;
	padding-left: 18px;
	margin-right:60%;
	margin-bottom: -30px;
}



.img:after{
	padding-top:-30px;
	margin-top:-50px;
	content: "";
    display: table;
	clear: both;
	float: rightx;
	
	
	}

.city {
	margin-top:0.3remx;
	font-size: 1.8em;
	font-weight: 400;	
	margin-bottom:6px;
	font-family: 'Helvetica Neue', arial, sans-serif;

}
.temperature {
	flex: 2;
	margin-bottom:6px;
	font-size: 1.4em;
	font-weight: 320;
	font-family: 'Helvetica Neue', arial, sans-serif;
	
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

.conditions{
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 320;
	font-size: 23px;
	margin-top:0.5rem;
	margin-bottom:0.1rem;

	
}






.suncolumn {
    float: left;
	width: 50%;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin-bottom: -10px;
	letter-spacing: 2px;
	

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
	clear: both;

}


