@import '~style/helpers';
@import '../iphone/style';

.container {
    padding: 1rem 0;
    position: relative;
}

.city {
	margin-top:50px;
	flex: 1;
	font-size: 1.5em;
	font-weight: 400;	
	margin-bottom:5px;
	font-family: 'Helvetica Neue', arial, sans-serif;

}
.temperature {
	flex: 2;

	font-size: 1.4em;
	font-weight: 320;
	font-family: 'Helvetica Neue', arial, sans-serif;
	
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

.conditions{
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 320;
	font-size: 23px;
}


.icon{
	padding-top:0.3rem;
	padding-bottom:4rem;
}

.suncolumn {
    float: left;
	width: 50%;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
	margin-bottom: -20px;
	letter-spacing: 2px;

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
	clear: both;
	
}


