@import '~style/helpers';

.container{
    border-style: solid;
    border-color:#000;
    background-color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
    margin-top:1.4rem;
}

.containerNoFly:extend(.container){
	background-color:#F00;
	border-color:#F00;
}

.containerCaution:extend(.container){
	background-color:#EA0;
	border-color:#EA0;
}

.containerSafeToFly:extend(.container){
	background-color:#1E1;
	border-color:#1E1;
}

.containerTest:extend(.container){
	background-color:#33F;
	border-color:#33F;
}